$salto_de_pantalla: 960px;
*{
    box-sizing: border-box;
    margin: 0;
}
button{
    all: unset;
}
body{
    background-color: #4F5C68;
    color: #E5F9DB;
    font-family: 'EB Garamond', serif;
}
.contenido{
    height: 1vh;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fit, minmax(315px, 640px));
    margin: 8px 5px;
    gap: 8px;
}
.calculo{
    grid-column: span 2;
}
.datos{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
nav{
    display: none;
}

h1{
    text-align: center;
}

#detalle{
    display: flex;
    width: 90%;
    height: auto;
    margin: auto;
    div{
        font-size: larger;
        font-weight: 600;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: space-between;
        p{
            margin: auto;
        }
        button:hover{
            cursor: pointer;
        };
    }
}